*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #280078;
}
.mobile{ 
    display: none;
}
#logosize{
    margin-left: 5%;
    margin-top: 5px;
    padding: 5px;
    display:flex ;
    height:40px;
    width: auto;
}
nav{
    display: inline-block;
}

ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin-right: 5%;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    color: white;

}

ul li{
   display: inline;
   padding: 16px;
   float: right;
   height: 30px;
   width: 120px;
   
}


/* About Me Dropdown*/



.About-child {
    height: 125px;
    width: 170px;
    position: relative;
    margin-top: 15px;

} 
.About-child ul {
    
    display: none;
    width: 100%;
    flex-direction: column;
   
}

.About-child ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     /*outline: 2px solid red;*/
    background-color: rgba(56, 67, 208, 1);
  }

.About-child ul li:hover {
    background-color: rgb(235, 162, 3);
  }
 

.banner-info {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 55%;
    position: absolute;
    margin: 20px;
    outline: 3px solid rgba(67, 1, 109, 1);
    margin-left: 50px;
    border-radius: 30px;
    
}

#heroimage {
    
    background-image: url("../Images/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
   min-width: 1400px;
   overflow: hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    
}

.myNames {
    
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(91.09deg, #17016E -1.35%, #A6186D 100.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
  -webkit-text-fill-color:  transparent;

}

.banner-info {

    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 200;

}

.banner-info h3 {
    color: #3843D0;
}

.banner-info p {
    color: #3843D0;
}

.bannerButton {
    margin-top: 5%;
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.bannerButton button {

    height: 75px;
    width: 250px;
    border-radius: 15px;
    border-color: rgba(67, 1, 109, 1);
    font-size: large;
    
}

.project {
    background: linear-gradient(88.74deg, #17016E 33.72%, #A6186D 111.53%);;
    color: #EBEBEB;
    
}

.project:hover {
    background: floralwhite;
    color: #000 ;
    
}

.skills:hover {
    background: linear-gradient(88.74deg, #17016E 33.72%, #A6186D 111.53%);;
    color: #EBEBEB;
}

.section1{
    display: block;
    max-width: 100% ;
}
.box{
    display:flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    margin-bottom:4% ;
}

div.gallery {
    margin: 10px;
    border: 2px solid #EBEBEB;
    float: left;
    width: 30%;
  }
  
  div.gallery:hover {
    border: 2px solid #4c2894;
    box-shadow: 0 4px 8px 0 #d4cae6f3;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }

footer{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #280078;
}

@media only screen and (max-width: 1000px ) {

    header{
        display: none;
       
    }
    .mobile{ 
        display:flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;
        background-color: #280078;
    }
    nav{
    display: inline-block;
}

    #logosize{
       
        display:none ;
       
    }

    #Mobilelogosize{
        margin: 10px;
        padding: 5px;
        display:flex ;
        height:30px;
        width: auto;
    }
    #MobileMenu{
        padding-right: 10%;
        padding: 5px;
        display:flex ;
        height:30px;
        width: auto;
    }
      

    #heroimage{
        background-image: url("../Images/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
   min-width: 1400px;
   overflow: hidden;
    }

    .box{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:30px ;
    }
    
    div.gallery {
        display: flex;
        flex-direction: column;
        margin: 10px;
        border: 2px solid #EBEBEB;
        justify-content: center;
        width: 80%;
        margin-left: 10%;
      }
      footer{
        display: flex;
        height: 60px;
        width: 100%;
        background-color: #280078;
    }
}